.welcome-header {
  /*이미지 추가?*/
  margin-top: 145px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
  color: var(--main-color);
}

.welcome-header__text {
  width: 60%;
  color: var(--grey-color);
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  opacity: 0.4;
}

#login-form input:focus {
  border-color: var(--main-color);
}

#login-form input[type="submit"] {
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0px;
  margin-bottom: 15px;
  transition: opacity 0.2s ease-in-out;
}

#login-form input[type="submit"]:hover {
  background-color: var(--main-color);
  opacity: 0.8;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  margin-bottom: 20px;
}
